<% include header %>
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= title %>
      </h1>
    </div>
  </div>
</section>
<div class="container" style="margin-top:30px;">
  <% if (lists.length !== 0) { %>
  <% lists.forEach(function (Article){ %>
  <article class="media">
    <figure class="media-left">
      <% Article.uploadImagePath.forEach(function (image){ %>
      <p class="image is-128x128">
        <img src="<%=image%>">
      </p>
      <% }); %>
    </figure>
    <div class="media-content">
      <div class="content">
        <h2>title: <%=Article.title%></h2>
        <% Article.uploadImageName.forEach(function (name){ %>
          <p>uploadImageName: <%=name%> </p>
        <% }); %>
        <% Article.imageOriginalName.forEach(function (name){ %>
          <p>imageOriginalName: <%=name%> </p>
        <% }); %>
        <p>create_at: <%=Article.create_at%></p>
        <p><a href="/download?_id=<%=Article._id%>" class="button is-primary download">이미지 다운로드</a></p>
        <input type="hidden" name="_id" value="<%=Article._id%>">
        <input type="hidden" name="imagePath" value="<%=Article.imagePath%>">
      </div>
    </div>
  </article>
  <% }); %>
  <% } %>
  <footer class="footer">
    <div class="container">
      <a href="/single" class="button is-primary">이미지 1개 업로드 테스트</a>
      <a href="/array" class="button is-success">이미지 여러개 업로드 테스트</a>
      <a href="/fields" class="button is-danger">이미지 각각 업로드 테스트</a>
    </div>
  </footer>


</div>

<script type="text/javascript">
  'use strict';
  var $cookie;
  $(function () {
    // 다운로드 로딩 이펙트 추가 쿠키 값으로 체크
    $('.download').click(function () {
      $(this).addClass('is-loading');
      $cookie = setInterval(function () { isCookie() }, 500);
    });
  });

  function isCookie() {
    var cookieFind = document.cookie.match(/^(.*;)?\s*isDownload\s*=\s*[^;]+(.*)?$/);
    if (cookieFind !== null) {
      removeCookie();
    }
  }
  function removeCookie() {
    $('.download').removeClass('is-loading');
    clearInterval($cookie);
    document.cookie = 'isDownload' + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  }



</script>

<% include footer %>